{% extends "base_generic.html" %}

{% block content %}
<!-- <div class="row">
  <div class="col-xs-12">
      <h1>Lead Details:</h1>

      <p><strong>Name:</strong> {{ lead.name }}</p>
      <p><strong>Email:</strong> {{ lead.work_email }}</p>
      <p><strong>Office Size:</strong> {{ lead.office_size }}</p>
      <p><strong>Zip code:</strong> {{ lead.zip_code }}</p>
      <p><strong>Phone Number:</strong> {{ lead.phone_number }}</p>
      <p><strong>Message:</strong>{{ lead.message }}</p>
  </div>
</div> -->
<div class="row">
  <div class="col-sm-6">
    <a href="{% url 'lead-update' lead.id %}">
      <button class="btn btn-primary pull-right"><i class="far fa-edit"></i> Edit</button>
    </a>
    <a href="{% url 'lead-delete' lead.id %}">
      <button class="btn btn-danger pull-right"><i class="far fa-trash-alt"></i> Delete</button>
    </a>
  </div>


</div>
<form class="form-horizontal" role="form" action="." method="post" enctype="multipart/form-data">
  <div class="form-group">
      <label class="col-sm-2 control-label" for="id_name">Name:</label>
      <div class="col-sm-10">
          <p class="form-control-static">{{lead.name}}</p>
      </div>
  </div>
  <div class="form-group">
      <label class="col-sm-2 control-label" for="id_email">Email:</label>
      <div class="col-sm-10">
          <p class="form-control-static">{{lead.work_email}}</p>
      </div>
  </div>
  <div class="form-group">
      <label class="col-sm-2 control-label" for="id_office_size">Office Size:</label>
      <div class="col-sm-10">
          <p class="form-control-static">{{lead.office_size}}</p>
      </div>
  </div>
  <div class="form-group">
      <label class="col-sm-2 control-label" for="id_zip_code">Zip Code:</label>
      <div class="col-sm-10">
          <p class="form-control-static">{{lead.zip_code}}</p>
      </div>
  </div>
  <div class="form-group">
      <label class="col-sm-2 control-label" for="id_phone_number">Phone Number:</label>
      <div class="col-sm-10">
          <p class="form-control-static">{{lead.phone_number}}</p>
      </div>
  </div>
  <div class="form-group">
      <label class="col-sm-2 control-label" for="id_message">Message:</label>
      <div class="col-sm-10">
          <p class="form-control-static">{{lead.message}}</p>
      </div>
  </div>

{% if lead.business_card %}
<div class="row">
    <div class="col-xs-12">
      <img src="{{ lead.business_card.url }}" class="img-responsive" style="max-height: 300px">
    </div>
  </div>
  {% endif %}
  
{% endblock %}
