{% extends "base_generic.html" %}

{% block content %}
    <div class="container">
        <h1>Leads List</h1>
        {% if lead_list %}
        <table class="table table-hover">
            <thead>
                <th><a href="?order_by=work_email">Work Email</a></th>
                <th><a href="?order_by=name">Contact Name</a></th>
                <th><a href="?order_by=office_size">Office Size</a></th>
                <th><a href="?order_by=zip_code">Zip Code</a></th>
            </thead>
            <tbody>
                {% for lead in lead_list %}
                <tr>
                    <td><a href="{{ lead.get_absolute_url }}">{{ lead.work_email }}</a></td>
                    <td><a href="{{ lead.get_absolute_url }}">{{ lead.name }}</a></td>
                    <td><a href="{{ lead.get_absolute_url }}">{{ lead.office_size }}</a></td>
                    <td><a href="{{ lead.get_absolute_url }}">{{ lead.zip_code }}</a></td>
                </tr>
                {% endfor %}    
            </tbody>
        </table>
        {% else %}
            <p>There are no leads here.</p>
        {% endif %}
    </div>
{% endblock %}
