{% extends "base_generic.html" %}

{% block content %}

{% load i18n widget_tweaks %}

<form class="form-horizontal" role="form" action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
            <div class="form-group has-error">
                <label class="col-sm-2 col-xs-12 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-10 col-xs-12">
                    {{ field|attr:"class:form-control" }}
                    <span class="help-block">
                        {% for error in  field.errors %}{{ error }}{% endfor %}
                    </span>
                </div>
            </div>
        {% else %}
            <div class="form-group">
                <label class="col-sm-2 col-xs-12 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-10 col-xs-12">
                    {{ field|attr:"class:form-control" }}
                    {% if field.help_text %}
                        <p class="help-block"><small>{{ field.help_text }}</small></p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="row" style="margin-bottom: 15px">
        <div class="col-sm-10 col-sm-offset-2">
                <img id="img_preview" 
                src="#" 
                alt="your business card" 
                class="img-responsive" 
                style="max-height: 100px; visibility: hidden"/>
        </div>
    </div>

    <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </div>
</form>
{% endblock %}

{% block extra_js %}
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            $("#img_preview").css({ 'visibility': 'visible'});
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#img_preview').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#id_business_card").change(function() {
        readURL(this);
    });

</script>
{% endblock %}