{% extends "base_generic.html" %}

{% block content %}
<div class="col-md-6 col-xs-12">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-default" type="submit">Let's Talk!</button>
    </form>
</div>


{% endblock %}

{% block extra_js %}
{% load static %}
<script src="{% static 'js/camera_imagefield.js' %}"></script>
{% endblock %}