{% extends "base_generic.html" %}


{% block content %}
<h1 style="text-align: center">Sign up for a tasting!</h1>

<div class="col-md-12 text-center">
    <a href="{% url 'submit-card' %}">
        <button class="btn btn-lg btn-primary">Submit Your Business Card</button>
    </a>    
</div>
<div class="col-md-12 text-center">
    <h2>or</h2>
</div>
<div class="col-md-12 text-center">
    <a href="{% url 'submit-lead' %}">
        <button class="btn btn-lg btn-default">Fill Out the Form</button>
    </a>
</div>

{% endblock %}
